<tr class="success">
                                            <td></td>
                                            <td>{{measurement.name}}</td>
                                            <td>{{measurement.value}}</td>     
                                            <td>
                                            <button class="btn btn-danger btn-xs delete_extra_measurement" ><i class="fa fa-pencil"></i> Delete</button>
                                            </td>            
                                        </tr>